body {
  background-color: rgb(239, 149, 116);
}

.title {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 5vh;
  align-items: center;
  color: #1dbfe7e9;
}

.weather-data {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  margin-bottom: 18vh;
  margin-top: 15vh;
}

.location-button {
  margin: auto;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  width: 1000px;
  height: 95px;
  justify-content: space-around;
  align-items: center;
  border-radius: 50px;
  border: none;
  background: rgb(231, 118, 76);
  color: #1dbfe7e9;
  font-weight: bold;
  font-size: 30px;
}

#weather-icon {
  width: 180px;
  height: 180px;
}
